.notification-user {
  background-color: #000;
  padding: 15px 25px;
  width: 400px;
  position: absolute;
  text-align: center;
  left: calc(50% - 200px);
  font-size: 20px;
  color: #fff;
  top: 120px;
  border-radius: 10px;
}